header .container {
  background-color: mistyrose;
} 
.collage:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
  @media (max-width: 449px) {
.instagram {
  font-size: 10px;
  }
.fa-lg {
  font-size: 2rem;
  margin-bottom: 5px;
}
}
