<header>
  <div class="container">
    <a href="/latata.tejidos/"><img src="{{ `images/logo/logo.png` | relURL }}" /></a>
    <div class="menu-bar">
    Menu
<img src="/latata.tejidos/images/logo/logo-menu.svg" alt="Logo" class="logo-svg">
  </div>
    <div class="right-stuff">
      <div class="header__cart">
        <a href="#" class="snipcart-checkout">
          <div class="snipcart-summary">
            <i class="fas fa-lg fa-shopping-bag"></i>&nbsp;<span
              class="snipcart-items-count"
            ></span>
            item(s)
          </div>
        </a>
      </div>
      <div class="instagram">
        <i class="fab fa-lg fa-instagram"></i>&nbsp;<a
          href="https://instagram.com/{{ .Site.Params.Instagram }}"
          >Mi Instagram</a
        >
      </div>
    </div>
  </div>
</header>
